{% extends 'core/base.html' %}
{% block title %}Recorrido{% endblock %}

{% block content %}
    <style>.errorlist{color:red;} label{display: none;}</style>
    <section class="about">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                    <form action="" method="post">{% csrf_token %}
                      <div class="section-title" data-aos="fade-up">
                        <h2>Recorrido</h2>
                      </div>
                      {{form.name}}
                        <select class="form-control mb-3" name="device" id="device_id" onchange="isRoute()" required>
                            <option value="" disabled selected>Dispositivo</option>
                            {% for device in devices %}
                                <option value={{device.id}}>{{device.name}}</option>
                            {% endfor %}
                        </select>
                      <input id="start" type="submit" class="btn btn-primary btn-block mt-3" value="Iniciar">
                        <p id="message"></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        function isRoute(){
            var device = document.getElementById("device_id");
            const url = "{% url 'search:is_route' %}" + "?val=" + device.value;
            console.log(url);
            fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                if(data.created){
                    var start = document.getElementById("start");
                    var message = document.getElementById("message");
                    if(data.activated==true){
                        start.style.display = "none";
                        message.style.color = "red";
                        message.innerHTML = "El dispositivo tiene un recorrido en curso, finalízalo para iniciar uno nuevo."
                    }else{
                        start.style.display = "inline-flex";
                        message.innerHTML = "";
                    }
                }
            });
        };
    </script>
{% endblock %}