{% extends 'core/base.html' %}
{% block title %}Perfil{% endblock %}

{% block content %}
    <style>.errorlist{color:red;} label{display: none;}</style>
    <section class="about">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto mb-5">
                  {% if not profile.name or not profile.last_name %}
                        <p style="color: green;" class="mt-5">Bienvenido. Solo un paso más, completa tu perfil para disfrutar de nuestro servicio</p>
                  {% endif %}
                    <form action="" method="post">{% csrf_token %}
                      <div class="section-title mt-3" data-aos="fade-up">
                        <h2>Perfil</h2>
                      </div>
                      {{form.name}}
                      {{form.last_name}}
                      <input type="email" value="{{request.user.email}}" class="form-control mt-3 mb-3" readonly>
                        <p class="nt-3 ml-1">Si deseas cambiar el email, haz clic <a href="{% url 'profile_email' %}">aquí</a>.<br>
                        Y si deseas cambiar tu contraseña, haz clic <a href="{% url 'password_change' %}">aquí</a>.
                        </p>
                      <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}